{% extends 'home/base.html' %}
{% load static %}

{% block title %}My home page{% endblock title %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <img src="{% static 'image/logo.png' %}" width="300"><br><br>
      <h1 class="display-4 fw-normal">TRALGEIA คือใคร ?</h1>
      <p class="fs-5 text-muted">Solar Financing เพื่อการเข้าถึงพลังงานแสงอาทิตย์ สร้างผลตอบแทน และประหยัดค่าใช้จ่าย เป็นเจ้าของระบบโซลาร์เซลล์เพียงแค่จ่ายค่าไฟราคาถูกกว่า ดันสังคมสู่พลังงานสะอาด       ด้วยการร่วมมือของผู้เชี่ยวชาญเฉพาะด้านดำเนินการแก้ไขปัญหา เป้าหมายสูงสุดของเราต้องนำพาสังคมไปสู่ NetZeroEmission ภายในปี 2065</p>
</div>
{% endblock content %}



